<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let inmueble of inmuebles"col-6>
      <ion-card>
        <img *ngIf= "inmueble.hasOwnProperty('pictures')"
        src="{{inmueble.pictures[0].url}}">
        <ion-card-content> 
        
          <p *ngIf = "inmueble.hasOwnProperty('geo')">
            {{inmueble.geo.name}}
          </p>
            <h2 *ngIf = "inmueble.hasOwnProperty('price')">
              {{inmueble.price.formattedAmount}}
              </h2>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
